.b2b-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.squares {
  display: flex;
  z-index: 1;
}

.yellow-square {
  position: relative;
  margin: 10px;
  max-height: 180px;
  -webkit-animation-name: my;
          animation-name: my;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  }

  @keyframes my {
    0%{opacity: 0;}

    100%{ opacity: 1;}


}



.yellow-square-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 130px;
  height: 120px;
}



.yellow-square-parent div {
  width: 20px;
  height: 20px;
  }

.yellow-text-parent h2 {
  position: absolute;
  top: -90px;
  left: 30px;
  font-family: 'Play';
  color: #fff;
  font-size: 95px;
  text-shadow: 5px 10px 10px  #000;
}

  .yellow-text-parent h2:hover {
    transform: scale(1.2);
  }

.yellow-text-parent p {
  position: absolute;
  top: 75px;
  left: 30px;
  font-family: 'Play';
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 5px 5px 10px  #000;
  }




.yellow-square-parent div:nth-child(5n-4) {
  background-color: #ffff33;
  }

.yellow-square-parent div:nth-child(5n-3) {
  background-color: #e4cd05;
  }

.yellow-square-parent div:nth-child(5n+3) {
  background-color: rgba(246, 241, 18, 1);
  }

.yellow-square-parent div:nth-child(5n-1) {
  background-color: #f2f600;
  }

  .yellow-square-parent div:nth-child(5n+5) {
    background-color: #ffef00;
    }






.orange-square {
  position: relative;
  margin: 10px;
  -webkit-animation-name: myr;
          animation-name: my;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  }

  @keyframes myr {
    0%{opacity: 0;}

    100%{ opacity: 1;}

  }

.orange-square-parent {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
  height: 120px;
  }

.orange-square-parent div {
  width: 20px;
  height: 20px;
  background-color: blue;
  }

.orange-text-parent h2 {
  position: absolute;
  top: -90px;
  left: 33px;
  font-family: 'Play';
  color: #fff;
  font-size: 95px;
  text-shadow: 5px 10px 10px  #000;
  }

.orange-text-parent p {
  position: absolute;
  top: 75px;
  left: 50px;
  font-family: 'Play';
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 5px 7px 10px  #000;
  }

.orange-square-parent div:nth-child(5n-4) {
  background-color: #ff5f00;
  }

.orange-square-parent div:nth-child(5n-3) {
  background-color: #ff6f1d;
  }

.orange-square-parent div:nth-child(5n+3) {
  background-color: #ff770d;
  }

.orange-square-parent div:nth-child(5n-1) {
  background-color: #ffa068;
  }

.orange-square-parent div:nth-child(5n+5) {
  background-color: #ff7b25;
  }

.red-square {
  position: relative;
  margin: 10px;
  -webkit-animation-name: mys ;
          animation-name: mys;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  }

  @keyframes mys{
    0%{opacity: 0;}

    100%{ opacity: 1;}
  }

.red-square-parent {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
  height: 120px;
}

.red-square-parent div {
  width: 20px;
  height: 20px;
  background-color: blue;
  }

.red-text-parent h2 {
  position: absolute;
  top: -90px;
  left: 30px;
  font-family: 'Play';
  color: #fff;
  font-size: 95px;
  text-shadow: 5px 10px 10px  #000;
  }

.red-text-parent p {
  position: absolute;
  top: 75px;
  left: 30px;
  font-family: 'Play';
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 5px 5px 10px  #000;
  }

.red-square-parent div:nth-child(5n-4) {
  background-color: #ff0000;
  }

.red-square-parent div:nth-child(5n-3) {
  background-color: #bb0000;
  }

.red-square-parent div:nth-child(5n+3) {
  background-color: #dd0000;
  }

.red-square-parent div:nth-child(5n-1) {
  background-color: #9a0000;
  }

.red-square-parent div:nth-child(5n+5) {
  background-color: #790001;
  }


  .yellow-square-parent div:first-child,.orange-square-parent div:first-child, .red-square-parent div:first-child {
    border-radius: 5px 0 0 0;
  }

  .yellow-square-parent div:last-child,.orange-square-parent div:last-child, .red-square-parent div:last-child {
    border-radius: 0 0 5px 0;
  }

  .yellow-square-parent div:nth-child(6),.orange-square-parent div:nth-child(6), .red-square-parent div:nth-child(6) {
    border-radius: 0 5px 0 0;
  }

  .yellow-square-parent div:nth-child(31),.orange-square-parent div:nth-child(31), .red-square-parent div:nth-child(31) {
    border-radius: 0 0 0 5px;
  }
