html, body {
margin: 0;
padding: 0;
}

* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


body {
  background-color: #000;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

body::after {
  position: absolute;
  top: 0;
  left: 300px;
  content: "";
  width: 50%;
  height: 100vh;
  transform: skewX(30deg);
  background-image: linear-gradient(120deg, #d6182a 0%, #000000 50%, #d6182a 100%);

}



.banner-text {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 35px;

}

.banner-text p {
  color: white;
  font-family: 'Play';
  font-weight: 400;
  margin: 0 20px;
  z-index: 4;
}

.banner p:last-child {
  margin-left: ;
}

.banner a {
  margin-left: 10px;
}

.banner-skew {
  position: absolute;
  width: 100%;
  height: 35px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}


.skew1 {
  width: 33.33%;
  height: 35px;
  background-image: linear-gradient(9deg,#21759d 5%, #d54e21 50%, #21759d 95%);
  z-index: 2;
}


.skew2 {
  position: absolute;
  left: 30.33%;
  width: 38%;
  height: 35px;
  z-index: 3;
  background-image: linear-gradient(9deg,#21759d 5%, #d54e21 50%, #21759d 95%);
  transform-origin: center;
  -ms-transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);

}

.skew3 {
  width: 33.33%;
  height: 35px;
background-image: linear-gradient(9deg,#21759d 5%, #d54e21 50%, #21759d 95%);
z-index: 2;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-subcontainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 170px;


}

.logo {
z-index: 1
}

.logo h1 {
  font-family: 'Play';
  font-size: 42px;
}

.logo p {
  margin: 0 20px;
  margin-top: 30px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px 0;
  text-align: justify;
}

.register button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 300px;
  height: 35px;
    background-image: linear-gradient(90deg,#ffff33 0%, #ff6f1d 25%, #bb0000 75%);
  -webkit-backdrop-filter: sepia(100%);
  backdrop-filter: sepia(100%);
}

.main-subcontainer2 {
  width: 100%;
  height: 550px;
  z-index: 2;

}


.offers {
  background-color: black;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.offers li {
display: inline-block;
list-style-type: none;
margin: 0 10px;
}



.offers li:first-child {
  margin-left: -30px;
}

.offers li a {
  text-decoration: none;
  color: white;
}
.brands {
  position: absolute;
  z-index: 1;
  left: 100px;
  background-color: black;
  max-width: 200px;
}

.main-page {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../Photos/wholesale.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 60px;

}

.main-page::after {
  content: "";
  display: block;
position: absolute;
width: 635px;
height: 300px;
margin-top: -60px;
margin-left: 37px;
background-color: #000;
opacity: 0.2;

  transform: skewX(30deg);
  z-index: 1;
}

.main-page h2 {
  font-size: 32px;
  z-index: 1;
}

.main-page button {
width: 200px;
height: 35px;
z-index: 2;
  background-image: linear-gradient(120deg, #d6182a 0%, #000000 50%, #d6182a 100%);
}

.main-page button a {
  color: #fff;
}

.product-buttons {
  width: 100%;
  margin-top: 0px;
}

.product-buttons button {
 height: 35px;
 width: 95px;
 margin: 0 3px;
}


.new-product h2 {
  font-size: 22px;
display: flex;
justify-content: center;
}

/*
#blink {
  animation:blinking 2.5s infinite;
}

@keyframes blinking{
  0%{   color: white;   }
  50% {color: transparent;}
  100%{   color: white;   }

  }
  */
